@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
	--subtitulos-general:#888585;
	--color-titulos:#3c3838;
	--color-numeros:#e6e8eb;
	--color-azul:#19adf4;
	--color-gris:#f3f3f3;
	--fondo-footer:#383737;
	--color-footer:#fff;
}

body{
	font-family: Montserrat;
}

.title{
	font-family: Oswald;
	font-size: 45px;
	color: var(--color-titulos);
}

.subtitle{
	font-family: Oswald;
	font-size: 10px;
	color: var(--subtitulos-general);
}

.btn-azul{
	background-color: var(--color-azul);
	color: #fff;
	padding: 17px 30px;
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
}

#welcome {
	text-align: center;
	padding: 30px 0 30px;
}

#coaches {
	text-align: center;
	padding: 30px 0 30px;
}

#how-was {
	padding: 30px 0 30px;
}

#gallery {
	padding: 30px 0 30px;
}

/*
#gallery article{
	margin-left: 0px;
	margin-right: 0px;
}

#gallery img{
	margin-left: 0px;
	margin-right: 0px;
}
*/
